
@{
    ViewBag.Title = "Ingreso";
    ViewBag.hidden = "hidden";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="" id="loginModal">
                <div class="modal-header">
                    <h3>Shopping Car Ci2 - Ingreso</h3>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#login" data-toggle="tab">Ingreso</a></li>
                            <li><a href="#create" data-toggle="tab">Registro</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane active in" id="login">
                                    <fieldset>
                                        <div id="legend">
                                            <legend class="">Ingreso</legend>
                                            <p class="text-danger">@ViewBag.Error</p>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <!-- Username -->
                                                <label class="control-label" for="username">Correo</label>
                                                <div class="controls">
                                                    <input type="text" id="email" name="email" placeholder="Correo" class="form-control" >
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <!-- Password-->
                                                <label class="control-label" for="password">Contraseña</label>
                                                <div class="controls">
                                                    <input type="password" id="password" name="password" placeholder="Contraseña" class="form-control" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <br />
                                                <!-- Button -->
                                                <div class="">
                                                    <button type="submit" id="submitButton" name="submitButton" value="Log" class="btn btn-success">Ingresar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                            </div>
                            <div class="tab-pane fade center-block" id="create">
                                <div id="legend">
                                    <legend class="">Registro</legend>
                                    <p class="text-danger">@ViewBag.Error</p>
                                </div>
                                <label>Nombre y Apellidos</label>
                                <input type="text" id="usernameR" name="usernameR" class="form-control" >
                                <label>Correo</label>
                                <input type="email" id="emailR" name="emailR" class="form-control" >
                                <label>Contraseña</label>
                                <input type="text" id="passwordR" name="passwordR" class="form-control" >
                                <br />
                                <div class="">
                                    <button type="submit" id="submitButton" name="submitButton" value="Reg" class="btn btn-primary">Registrarse</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}